/* Estilos generales */
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
} 

/* Header */
img {
    margin-left: 100px;
}

button {
    margin: 15px;
    position:relative;
    float:right;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #666;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }
  
  button:hover {background-color: #005677}
  
  button:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.dark{
    background-color: black;
    color: #FAFAFA;
  }

header {
    background-color: #e5e5e5;
    text-align: center;
    margin: 0 170px;
}

h1, h2 {
    background-color: #c4c4c4;
    color: #005677;
    letter-spacing: 15px;
    text-transform: uppercase;
    padding: 10px;
}
h1 {
    font-size: 35px;   
}

/* Main */



.container {
    margin: 60px auto;
    max-width: 70%;
}

h2 {
    font-size: 20px;
}

span {
    font-weight: 700;
}
.personal span {
font-style: italic;
}

dd {
    margin-left: 80px;
}

/* Footer */


footer {
    background-color: #005677;
    display: block;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}

